.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiToolbar-root {
  background-color: rgb(133, 113, 89) !important;
}

.MuiButton-containedSecondary {
  background-color: rgb(133, 113, 89) !important;
}

.MuiIconButton-colorSecondary {
  color: rgb(133, 113, 89) !important;
}

.MuiButton-containedPrimary {
  background-color: rgb(133, 113, 89) !important;
}

.MuiPaginationItem-textPrimary.Mui-selected {
  background-color: rgb(133, 113, 89) !important;
}

.MuiButton-contained {
  color: white;
  background-color: rgb(133, 113, 89) !important;
}

.MuiIconButton-colorPrimary {
  color: rgb(133, 113, 89) !important;
}

.makeStyles-avatar-11 {
  background-color: rgb(133, 113, 89) !important;
}

.makeStyles-avatar-13 {
  background-color: rgb(133, 113, 89) !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: white !important;
}

.MuiBottomNavigation-root {
  background-color: rgb(133, 113, 89) !important;
}